In [1]:
import sqlite3

In [ ]:
## Connect to an SQLite database
connection = sqlite3.connect('Example.db')
connection

In [3]:
## Create a cursor
cursor = connection.cursor()

In [4]:
## Create the table
cursor.execute('''
    Create Table If Not Exists employees(
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department text
    )
''')

## commit the change
connection.commit()

In [8]:
cursor.execute('''
    Select * from employees
               
''')

In [9]:
## Insert the data in sqlite table
cursor.execute('''
    Insert into employees(name, age, department)
               values('OM', 22, 'Data Scientist')
''')

cursor.execute('''
    Insert into employees(name, age, department)
               values('PRIYA', 22, 'HR')
''')

connection.commit()

In [10]:
## query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()        ## collect all rows

## print all rows
for row in rows:
    print(row)

(1, 'OM', 22, 'Data Scientist')
(2, 'PRIYA', 22, 'HR')

In [14]:
## Update the data in the table
cursor.execute('''
    update employees
    set age = 23
    where name = "OM"               
''')

connection.commit()

In [15]:
## query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()        ## collect all rows

## print all rows
for row in rows:
    print(row)

(1, 'OM', 23, 'Data Scientist')
(2, 'PRIYA', 22, 'HR')

In [17]:
## delete data from table
cursor.execute('''
    delete from employees
    where name = "OM"               
''')

connection.commit()

In [18]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()        ## collect all rows

## print all rows
for row in rows:
    print(row)

(2, 'PRIYA', 22, 'HR')